.normal {
    background: snow;
    color:#50555c;
}
#mainHeader{
    color: snow;
    text-align: center;
}
.companyImage{
    border-radius: 8px;
}
.positionLocation{
    color: black;
    font-weight: bolder;
}
.sectionHeader{
    text-align: center;
    font-weight: bolder;
    color: black;
    font-size: xx-large;
}
.parallax1 {
    /* The image used */
    background-image: url("/src/images/img_parallax.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax2 {
      /* The image used */
    background-image: url("/src/images/familyPhotoFB.jpg");
  
  /* Set a specific height */
  min-height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  @media only screen and (max-device-width: 1366px) {
      .parallax1 .parallax2 {
          background-attachment: scroll;
      }
  }